{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="background-container">
            <img 
                class="background-image opacity"
                src="{{ base_url }}/image/road.jpg&q=60&save-as=jpg"
                srcset="
                    {{ base_url }}/image/road.jpg&q=60&w=1000&h=853&crop-to-fit&save-as=jpg 1000w,
                    {{ base_url }}/image/road.jpg&q=60&w=300&h=853&crop-to-fit&save-as=jpg 300w"
                sizes="
                    (max-width: 767px) 300px,
                    (max-width: 1800px) 1000px,
                    1280px
                    "
                alt="Background image depicting a country road in rural America"
            >
            <div class="content">
                {{ content }}
            </div>
            <img 
                class="side-image"
                src="{{ base_url }}/image/woman-creek.jpg&q=60&save-as=jpg"
                srcset="
                    {{ base_url }}/image/woman-creek.jpg&w=300&q=60&save-as=jpg 300w,
                    {{ base_url }}/image/woman-creek.jpg&w=250&q=60&save-as=jpg 250w,
                    {{ base_url }}/image/woman-creek.jpg&w=512&q=60&save-as=jpg 512w"
                sizes="
                    (max-width: 400px) 300px,
                    (max-width: 767px) 512px,
                    (max-width: 1000px) 250px,
                    (max-width: 1400px) 300px,
                    853px"
                alt="Image of Scarlett Hayes taking a break in a creek"
            >
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>

